datasets==2.18.0
transformers~=4.45.2
sentencepiece==0.2.0
scipy==1.14.1
matplotlib==3.8.4
torch~=2.2.2
numpy~=1.26.4
pandas~=2.2.2
sentence_transformers
ipython~=8.27.0
sentence-transformers~=3.3.0
plotly
wordcloud